{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hey! My name is Divyanth and I'm an Computer Science Engineer. I'm currently first year student at IIIT Kottayam pursuing B.Tech Degree in CSE.</p>
        <p>My interests lie in A.I, Web Development and Networking.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}